{% extends "base.html" %}

{% block content %}
    {% if username %}
        <h1> High Scores </h1>
        {% if score_list %}
         <ul>
         {% for h in score_list %}
            <li>
                <p>{{ forloop.counter }}. {{ h.name }} ({{ h.highscore }})</p>
            </li>
         {% endfor %}
         </ul>
        {% endif %}
      <h1>Table List</h1>
      {% if table_list %}
      <ul>
        {% for t in table_list %}
          <li>
            <!---->
            <a href='table.html'>{{ t.name }}</a>
          </li>
        {% endfor %}
      </ul>
      {% else %}
        <p>There are no tables created.</p>
      {% endif %}
    {% endif %}
    {% if message == "Login is required! Please login or register!" %}
        {{ message }}
    {% endif %}
    <p><a href="login.html">Login</a></p>
    <p><a href="register.html">Register</a></p>
    <p><a href="all_tables.html">List</a></p>
    <p><a href="User.html">Admin</a></p>
    <p><a href="table.html/1">Table</a></p>
{% endblock %}