{% extends "base.html" %}
{% block content %}
    <!--<form method="post" action="/">
        {% csrf_token %}
        Username: <input type="text" name="user" value="{{ user }}"><br/>
        Command: <input type="text" name="command"><br/>
        <input type="submit">
    </form>-->
    <p>
        {%  autoescape off %}
        {{ message }}
        {% endautoescape %}
    </p>
    <p><a href="login.html">Login</a></p>
    <p><a href="register.html">Register</a></p>
    <p><a href="all_tables.html">List</a></p>
    <p><a href="User.html">Admin</a></p>
    <p><a href="table.html/1">Table</a></p>
{% endblock content %}