<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <p>
        <a href="/">Go back</a>
    </p>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Username</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password">
        </p>
        <button type="submit">Login</button>
    </form>
    {{ message }}
    <p><a href="login.html">Login</a></p>
    <p><a href="register.html">Register</a></p>
    <p><a href="all_tables.html">List</a></p>
    <p><a href="User.html">Admin</a></p>
    <p><a href="table.html/1">Table</a></p>
</body>

</html>