<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        <a href="/">Go back</a>
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
     <p>
        {%  autoescape off %}
        {{ message }}
        {% endautoescape %}
    </p>
    <p><a href="login.html">Login</a></p>
    <p><a href="register.html">Register</a></p>
    <p><a href="all_tables.html">List</a></p>
    <p><a href="User.html">Admin</a></p>
    <p><a href="table.html/1">Table</a></p>
</body>
</html>