<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Poker Game</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        canvas {
            background: #7FFFD4;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
{% if username %}
    <div style="width: 1080px; margin:0 auto;">
        <div id="s3" style="width: 880px; height: 40px;  border: 1px solid black; float:left; margin: 0 auto 0 71px;">
            <p id="p3" style="float:left;margin-left:220px;"><td>{{p3}}</td></p>
            <p style="float:left;">&nbsp; current chips: $</p>
            <p id="c3" style="float:left; color:green">{{ c3 }}</p>
            <p style="float:left;">&nbsp;Chips bet: $</p>
            <p id="cb3" style="float:left;color:red">{{ cb3 }}</p>
            <p style="float:left;">&nbsp; high score: </p>
            <p id="h3" style="float:left; color:blue"> {{ h3 }}</p>
        </div>

        <div style="clear:both"></div>

        <div id="s2" style="width: 70px; margin:0 auto; height: 559px; border: 1px solid black; float:left;">

            <p id="p2" style="float:left;margin-bottom:10px;">{{p2}}</p>
            <p style="float:left;">current chips: $</p>
            <p id="c2" style="float:left;color:green;margin-bottom:10px;">{{c2}}</p>
            <p style="float:left;">Chips bet:$</p>
            <p id="cb2" style="float:left;color:red;margin-bottom:10px;">{{cb2}}</p>
            <p style="float:left;">high score: </p>
            <p id="h2" style="float:left; color:blue">{{h2}}</p>
        </div>

        <canvas id="playboard" width="880" height="560" style="float:left;">
        </canvas>


        <div id="s4" style="width: 70px; margin:0 auto; height: 559px; border: 1px solid black; float:left;">
            <p id="p4" style="float:left;margin-bottom:10px;">{{p4}}</p>
            <p style="float:left;">current chips: $</p>
            <p id="c4" style="float:left;color:green;margin-bottom:10px;">{{c4}}</p>
            <p style="float:left;">Chips bet:$</p>
            <p id="cb4" style="float:left;color:red;margin-bottom:10px;">{{cb4}}</p>
            <p style="float:left;">high score: </p>
            <p id="h4" style="float:left; color:blue">{{h4}}</p>
        </div>
        <div style="clear:both"></div>

        <div id="s1" style="width: 880px; height: 60px; border: 1px solid black; float:left; margin: 0 auto 0 71px;">
            <p id="p1" style="float:left;margin-left:125px;">{{p1}}</p>
            <p style="float:left;">&nbsp; Hand:</p>
            <p id="hand1" style="float:left; color:darkorange">{{hand1}}</p>
            <p style="float:left;">&nbsp; Current chips: $</p>
            <p id="c1" style="float:left;color:green">{{c1}}</p>
            <p style="float:left;">&nbsp;&nbsp;Chips bet: $</p>
            <p id="cb1" style="float:left;color:red">{{cb1}}</p>

            <p style="float:left;"> &nbsp; high score: </p>
            <p id="h1" style="float:left; color:blue">{{h1}}</p>

            <p style="float:left;margin-left:125px;">&nbsp; &nbsp;Chips needed to call: $</p>
            <p id="cn" style="float:left;color:sandybrown">0</p>
            <button id="call" onclick="Call()" style="float:left; height:30px; width: 50px; margin-left:20px;">Call
            </button>

            <button id="fold" onclick="Fold()" style="float:left; height:30px; width: 50px; margin-left:10px;">Fold
            </button>
            <select id="raise_n" style="float:left; height:30px; width: 70px; margin-left:10px;">
                <option value="raise1">raise 1</option>
                <option value="raise2">raise 2</option>
                <option value="raise3">raise 3</option>
                <option value="raise4">raise 4</option>
                <option value="raise5">raise 5</option>
            </select>

            <button id="raise" onclick="Raise()" style="float:left; height:30px; width: 50px; margin-left:10px;">Raise
            </button>

            <button onclick="Refresh()" id="Refresh" style="float:left; height:30px; width: 50px; margin-left:10px;">Refresh
            </button>
            <button onclick="Leave()" id="Leave" style="float:left; height:30px; width: 50px; margin-left:10px;">Leave
            </button>
        </div>
    </div>
    <script>
        var raiseamount = document.getElementById("raise_n")
        var currentchips = document.getElementById("c1")
        var chipsbet = document.getElementById("cb1")
        var chipsneedtocall = document.getElementById("cn")
        function Call(){
            b = parseInt(chipsbet.innerText)
            chip= parseInt(currentchips.innerText)
            cb+=cnd
            chip=100-cb
            chipsbet.innerText= cb
            currentchips.innerText=chip
        }
        function Fold(){

        }

        function Raise(){
            cb = parseInt(chipsbet.innerText)
            raisn = parseInt(raiseamount.options[raiseamount.selectedIndex].value)
            chip= parseInt(currentchips.innerText)
            cnd= parseInt(chipsneedtocall.innerText)
            cb+=(cnd+raisn)
            cnd+=raisn
            chip=100-cb
            chipsbet.innerText= cb
            currentchips.innerText=chip
            chipsneedtocall.innerText= cnd
        }


        function Refresh(){

        }

        function Leave(){

        }



        var c = document.getElementById('playboard')
        var ctx = c.getContext('2d')

        ctx.beginPath();
        ctx.rect(20, 80, 90, 60);
        ctx.rect(20, 160, 90, 60);
        ctx.rect(20, 240, 90, 60);
        ctx.rect(20, 320, 90, 60);
        ctx.rect(20, 400, 90, 60);

        ctx.rect(230, 20, 65, 90 );
        ctx.rect(315, 20, 65, 90 );
        ctx.rect(400, 20, 65, 90 );
        ctx.rect(485, 20, 65, 90 );
        ctx.rect(570, 20, 65, 90 );

        ctx.rect(770, 80, 90, 60 );
        ctx.rect(770, 160, 90, 60);
        ctx.rect(770, 240, 90, 60);
        ctx.rect(770, 320, 90, 60);
        ctx.rect(770, 400, 90, 60);


        ctx.rect(230, 450, 65, 90 );
        ctx.rect(315, 450, 65, 90 );
        ctx.rect(400, 450, 65, 90 );
        ctx.rect(485, 450, 65, 90 );
        ctx.rect(570, 450, 65, 90 );


        ctx.stroke();
    </script>
{% endif %}
{% if message == "Login is required! Please login or register!" %}
    {{ message }}
{% endif %}
    <p><a href="../login.html">Login</a></p>
    <p><a href="../register.html">Register</a></p>
    <p><a href="../all_tables.html">List</a></p>
    <p><a href="../User.html">Admin</a></p>
</body>
</html>